
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #1c1a19;
}

li {
  list-style: none;
}

.logo {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}

header {
  background-color: #3e3c3c;
  width: 100%;
  height: 5rem;
}

.navigation {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin: 0 auto;
}

.my-nav-bar {
  background-color: #3e3c3c;
  width: 100%;
  height: 5rem;
}

.mobile-menu-hide {
  width: 0;
  height: 0;
  display: none;
}

.mobile-menu-show {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #3c3a39;
  padding: 0.5em 0.75em;
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
}

.flex-end {
  align-self: flex-end;
  color: #979493;
  font-size: 1rem;
}

.mobile-menu-link > li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #6f6c6b;
  margin: 1rem 0.5rem;
}

a {
  text-decoration: none;
  color: #fff5e1;
}

.nav-bar {
  display: none;
}

.main {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 120px 24px 0;
  gap: 12px;
  width: 100%;
  background-image: url(./images/bg-to-right.png);
  background-repeat: no-repeat;
  background-position-y: 120%;
  background-position-x: 100%;
}

.para1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 53px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.para2 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 3rem;
  display: flex;
  align-items: center;
}

.para3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
}

.link {
  display: flex;
  list-style: none;
  align-items: center;
  animation: 2s infinite alternate slidein;
}

@keyframes slidein {
  from {
    margin-left: 20%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.icon {
  display: flex;
  justify-items: left;
  margin-bottom: 120px;
  list-style: none;
}

section.my-work {
  background: #fff;
  width: 100%;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0 24px;
}

.recent {
  margin-top: 80px;
  display: flex;
  width: 90%;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}

.placeholder {
  max-width: 684%;
  margin-bottom: 20px;
  max-height: 448px;
}

.recent-work {
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  width: 90%;
  align-self: center;
}

.stories-multiple {
  display: flex;
  flex-direction: column;
}

.Multi-Post {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.about-work {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.list-of-lang {
  gap: 12px;
  margin-top: 12px;
  align-items: flex-start;
}

.list-language {
  float: left;
  margin: 5px;
  background: #fff;
  list-style: none;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
}

.b-t-n-1 {
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  border: none;
  margin: 24px 0 24px 0;
  align-self: flex-start;
}

.work-showcase {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #fff;
  padding-bottom: 120px;
  width: 100%;
  margin: 0 auto;
}

#showcase-work {
  position: relative;
}

.wk-section {
  display: flex;
  flex-direction: column;
  width: 327px;
  background: linear-gradient(rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.89) 0.84%), url(./images/bd-desk-one.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.profession {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.prof-details {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 90%;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.language {
  float: left;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  margin-left: 12px;
  color: #fff;
}

.b-t-n-2 {
  margin-top: 20px;
  height: 58px;
  background: #ff6b00;
  padding: 1rem;
  border: none;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
}

.about-me {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-image: url(./images/Frame-bg-right-btm.png);
  background-repeat: no-repeat;
  background-position-y: 22rem;
  background-position-x: 100%;
}

.about {
  margin-top: 120px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.know-about-me {
  width: 100%;
  padding-left: 24px;
}

.details-about-me {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding-top: 0.5rem;
}

.b-t-n-3 {
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  border: none;
  margin: 24px 0 24px 0;
  align-self: flex-start;
  margin-bottom: 120px;
}

.horizontal {
  border: 1px solid #fff;
  width: 90%;
  margin: 0 auto;
  margin-top: 140px;
}

.code-languages {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
  gap: 24px;
}

.code-first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-in-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 12px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.list-of-language,
.list-of-frameworks,
.list-of-skills {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.list-of-language::before {
  position: relative;
  right: 10px;
  content: url(./images/Rectangle-55-bg-img.png);
}

.list-of-frameworks::before {
  position: relative;
  right: 10px;
  content: url(./images/Rectangle-56-bg-img.png);
}

.list-of-skills::before {
  position: relative;
  right: 10px;
  content: url(./images/Rectangle-57-bg-img.png);
}

.contact-section {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 24px;
}

.contact-details {
  width: 100%;
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph_1 {
  width: 90%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding-bottom: 58px;
}

.form {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 124px;
}

input {
  color: #979493;
  border: none;
}

textarea {
  margin-top: 24px;
  color: #3c3a39;
  background: #fbf8f7;
}

.form input {
  justify-content: left;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  border: none;
  padding: 12px;
  border-bottom: 1px solid #000;
}

.form textarea {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  border: none;
  padding: 12px;
}

button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  transition-property: width;
  transition-duration: 1s;
}

button:visited {
  background: #e05304;
  color: #f4f1f0;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  font-size: 20px;
}

button:active {
  background: #f55800;
  color: #fff;
}

.hide-desk {
  display: none;
}

button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

button.submit:active {
  background: #e05304;
}

.submit {
  width: fit-content;
  place-items: center;
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  border: none;
  margin-top: 24px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons {
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 10px;
}

.icons-for-footer {
  list-style: none;
}

.bottom-line {
  width: 30%;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-bottom: 8px;
  margin-top: 5px;
}

.dp-row {
  margin-top: 120px;
}

.separator {
  width: 100%;
}

.liner {
  width: 100%;
  padding: 0 24px;
}

/* Details.html styles start here */

/* Details.html styles start here */

.full-details {
  position: fixed;
  display: block;
  min-width: 375px;
  height: 100%;
  background: #c1c7d090;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  overflow-y: auto;
}

.details-popup-img {
  width: 100%;
}

.combination {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  overflow-y: auto;
  margin: 1rem auto;
}

.d-flex {
  display: flex;
}

.heading-data {
  color: #172b4d;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.div-for-details {
  width: 95%;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem 1rem;
}

.main-heading-detailed {
  justify-content: space-between;
  align-items: center;
}

.details-menu {
  color: #67798e;
}

.new-list {
  gap: 12px;
  padding: 1rem 0;
}

.code-list {
  border: 1px solid #979493;
  padding: 0.5rem;
}

.detail-words {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 12px 0;
}

.details-button,
.details-button-btn {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  color: #fff;
  background: #ff6b00;
  border: none;
}

.snap-shot {
  min-width: 100%;
}

.div-for-button {
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .heading-desktop-data-popup {
    display: none;
  }
}

/* Details.html styles Ends here */

/* Responsiveness starts below */

@media only screen and (min-width: 700px) {
  .mobile,
  .paragraph-mobile-popup,
  .heading-data {
    display: none;
  }

  .flex-one {
    flex: 1;
  }

  .deatail-words {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .mobile-snap-popup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .heading-desktop-data-popup {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .div-for-button {
    justify-content: flex-start;
    gap: 1rem;
  }

  .paragraph-desktop-popup {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .nav-bar {
    position: relative;
    display: flex;
    gap: 1rem;
    align-content: center;
    margin-right: 24px;
  }

  .navigation {
    align-items: center;
  }

  a {
    text-decoration-line: none;
    color: #fff;
  }

  .nav-bar li {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    list-style: none;
  }

  .main {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(./images/Desktops-header.png);
    background-repeat: no-repeat;
    background-size: 45% 100%;
    gap: 35px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 192px;
  }

  .para2 {
    color: #fff;
  }

  .para3 {
    width: 45%;
    color: #f4f5f7;
  }

  .mail {
    position: absolute;
    align-self: center;
    top: -4px;
  }

  .top-bar {
    height: 25px;
    width: 25px;
  }

  .alone {
    height: 15px;
    width: 15px;
  }

  .link {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .dp-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 24px;
  }

  hr.separator {
    width: 100%;
    height: 1px;
    flex-grow: 1;
  }

  .recent-work {
    text-align: left;
    max-width: 315px;
    align-self: center;
    padding-bottom: 0;
  }

  .container {
    display: grid;
    width: 90%;
    background: #fff;
    padding-left: 0;
    margin: 0 auto;
  }

  .recent {
    flex-direction: row;
    gap: 80px;
    width: 100%;
    margin: 80px auto 0;
  }

  .stories-multiple {
    max-width: 448px;
  }

  .placeholder {
    flex-grow: 1;
  }

  .my-work h3 {
    margin-bottom: 24px;
  }

  .work-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-gap: 24px;
    width: 100%;
  }

  .wk-section {
    position: relative;
    height: 435px;
    padding-top: 48px;
    cursor: pointer;
    background: linear-gradient(rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.89) 0.84%), url(./images/bd-desk-one.png);
  }

  .wk-section.dash {
    background: linear-gradient(rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.89) 0.84%), url(./images/bg-dash.png);
  }

  .wk-section.web {
    background: linear-gradient(rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.89) 0.84%), url(./images/bg-web.png);
  }

  .wk-section:hover {
    background: url(./images/bd-desk-one.png);
  }

  .wk-section.dash:hover {
    background: url(./images/bg-dash.png);
  }

  .wk-section.web:hover {
    background: url(./images/bg-web.png);
  }

  .wk-section:hover .hidden {
    visibility: hidden;
  }

  .hide-btn {
    display: none;
  }

  .wk-section:hover .hide-btn {
    display: block;
    padding: 16px;
    position: relative;
    top: -45px;
  }

  .about-me {
    padding: 0 80px;
    margin: 0 auto;
    background-image: url(./images/Frame-bg-right-btm.png);
    background-repeat: no-repeat;
    background-position-y: 7%;
    background-position-x: 100%;
  }

  .know-about-me {
    max-width: 566px;
  }

  .details-about-me {
    max-width: 466px;
    height: 148px;
  }

  .horizontal {
    width: 95%;
    margin-top: 80px;
  }

  .code-languages {
    padding: 0 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-section {
    padding: 0;
  }

  .contact-details {
    flex-direction: row;
    justify-content: center;
    height: inherit;
    align-items: start;
    gap: 24px;
    padding: 130px 10% 0;
  }

  .paragraph_1 {
    max-width: 455px;
    text-align: left;
  }

  .hide-desk {
    display: block;
  }

  .hide-mob {
    display: none;
  }

  .web {
    padding-top: 90px;
  }

  .profession {
    margin-top: 24px;
  }

  .submit {
    align-self: start;
  }
}

@media screen and (min-width: 980px) {
  .about-me {
    background-image: url(./images/Desktop-about.png);
    background-position-y: 7%;
    background-position-x: 150%;
  }
}

@media only screen and (min-width: 1080px) {
  .about-me {
    background-position-x: 100%;
  }

  .work-showcase {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1600px) {
  .work-showcase {
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
